#app-header {
    display: flex;

    .logo-image {
      width: 10em;
    }



    span {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0 2em;
    }

    p {
        font-size: large;
        font-weight: 500;
    }
}
